.github/**
.vscode/**
.vscode-test/**
adrs/**
dist/**
node_modules/**
src/**
.adr-dir
.all-contributorsrc
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.afdesign
wallaby.js
jest.config.js
yarn-error.log
playground/**